[user]
	email = p4stela.dev@gmail.com
	name = P4sTela
	signingkey = {{ onepasswordRead "op://dotfiles/GitHub Signing/public key" }}
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[lfs]
	storage = ~/.cache/lfs
	concurrenttransfers = 64
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[commit]
	gpgsign = true

{{ if eq .chezmoi.os "darwin" }}
# macOS

{{ else if eq .chezmoi.os "linux" }}
# linux

{{ else }}
# Windows

[credential]
	helper = manager
[gpg "ssh"]
	program = C:\\Users\\main\\AppData\\Local\\1Password\\app\\8\\op-ssh-sign.exe
{{ end }}